.rectangle-fc-hm {
    width: 11px;
    height: 11px;
    margin: 2px;
    display: inline-block;
    
}

.filled-fc-hm {
    background-color:#448e1f;
}

.empty-fc-hm {
    background-color:#dcf1d1;
}

.progress-bar-fc-hm {
    display: flex;
    flex-wrap: wrap;
    width:180px;
}
