.user-configuration-1st-time-us-child-uc {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #014762, #448e1f);
    width: 94px;
    height: 1024px;
  }
  .user-details-table-uc {
    
    border-collapse: collapse;
  }
  
  .user-details-row-uc {
    display: flex;
    padding: 0;
    align-items: center;
    border-bottom: 1px solid #ccc; /* Add a border between rows */
  }
  .user-5-11-uc,
  .white-variation-11-uc {
    position: absolute;
    top: 65px;
    left: 15px;
    width: 57px;
    height: 55px;
    object-fit: cover;
  }
  .user-5-11-uc {
    top: 64px;
    left: 1249px;
    width: 44px;
    height: 48px;
  }
  .beyos1-uc {
    position: absolute;
    top: 100px;
    left: 191px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-poppins);
    background: linear-gradient(180deg, #014762, #448e1f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .toggleMenu-uc{
margin-left: 2px;
margin-bottom: 50px;
margin-right: 20px;
    width: 2px;
    height: 2px;
    object-fit: cover;
  }
  .user-configuration-1st-time-us-inner-uc
{
    position: absolute;
    top: 223px;
    left: 200px;
    background-color: var(--color-white);
    width: 1950px;
    height: 148px;
  } 
   .user-configuration-1st-time-us-inner-uc {
    top: 185px;
    left: 200px;
    border-radius: var(--br-5xs);
    border: 1.5px solid var(--color-lightgray);
    box-sizing: border-box;
    width: 930px;
    height: 40px;
  }
  .search-user1-uc {
    position: absolute;
    top: 280px;
    left: 297px;
    display: inline-block;
    width: 114px;
    height: 30px;
  }
  .search-icon1-uc {
    position: absolute;
    top: 200px;
    left: 215px;
    width: 12px;
    height: 12px;
    object-fit: cover;
  }
  .user-configuration-1st-time-us-child1-uc {
    position: absolute;
    top: 600px;
    left: 1098px;
    border-radius: var(--br-11xl-5);
    background: linear-gradient(180deg, #014762, #448e1f);
    width: 119px;
    height: 36px;
  }
  .add-1-icon1-uc {
    position: absolute;
    top: 610px;
    left: 1128px;
    width: 14px;
    height: 17px;
    object-fit: cover;
  }
  .next1-uc {
    position: absolute;
    top: 610px;
    left: 1145px;
    font-size: var(--font-size-xs);
    display: inline-block;
    font-family: var(--font-poppins);
    color: var(--color-white);
    width: 13px;
    height: 16px;
  }
  .user-configuration-1st-time-us-child2-uc {
    position: absolute;
    top: 600px;
    left: 950px;
    border-radius: var(--br-11xl-5);
    background: linear-gradient(180deg, #014762, #448e1f);
    width: 119px;
    height: 36px;
  }
  .add-user1-uc {
    position: absolute;
    top: 610px;
    left: 985px;
    font-size: var(--font-size-xs);
    display: inline-block;
    font-family: var(--font-poppins);
    color: var(--color-white);
    width: 68px;
    height: 17px;
  }
  .add-5-icon1-uc {
    position: absolute;
    top: 610px;
    left: 970px;
    width: 14px;
    height: 15px;
    object-fit: cover;
  }
  /* .user-configuration-1st-time-us-child3 {
    position: absolute;
    top: 330px;
    left: 222px;
    border-top: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    width: 955px;
    height: 1px;
  } */
  /* .user-configuration-1st-time-us-child4 {
    position: absolute;
    left: 225px;
    border-radius: var(--br-8xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    width: 15px;
    height: 25px;
  } */

  /* .checkbox-input {
    position: absolute;
    opacity: 0;
  } */

  .checkbox-uc {
    border-radius: var(--br-8xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    left:225px;
  }

  .settings-1-icon1-uc {
    position: absolute;
    top: 174px;
    left: 21px;
    width: 49px;
    height: 49px;
    object-fit: cover;
  }
  /* .rectangle-checkbox::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--br-8xs);
    border: 1px solid var(--color-lightgray);
    background-color: white;
    cursor: pointer; 
  } */
  .checkbox-input-uc:checked  {
    background-color: var(--color-forestgreen); /* Change background color when checked */
  }
  
  .user_name-uc,
  .user_mail-uc,
  .user_role-uc,
  .user_status-uc {
    display: inline-block;
    width: 114px;
    height: 14px;
  }
/* .user_name-uc{
  margin-left: 20px;
  margin-right: 20px;
} */
  .user_mail-uc{
    margin-left: 2px;
    margin-right: 10px;
  }

  .user_role-uc{
   margin-left:180px;
  }




  /* UserForm.css */

.user_status-uc {
  display: flex;
  align-items: center;
}

.user_status_role-uc {
  display: flex;
  align-items: center;
}

.status-inactive-uc,
.status-active-uc {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
}

.status-inactive-uc img,
.status-active-uc img {
  margin-right: 8px;
}

.status-inactive-uc img {
  filter: brightness(0.5); /* Adjust image brightness for inactive status */
}

.status-active-uc img {
  filter: brightness(1); /* Image brightness remains normal for active status */
}


  .user_mail-uc {
    left: 480px;
    text-decoration: underline;
    color: inherit;
    width: 114;
    height: 24px;
  }
  .user-configuration-1st-time-us-child5-uc {
    position: absolute;
    top: 270px;
    left: 890px;
    border-radius: var(--br-xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    width: 99px;
    height: 39px;
  }
  /* .user-configuration-1st-time-us-child6 {
    position: absolute;
    top: 423px;
    left: 1001px;
    border-radius: 50%;
    background-color: var(--color-mediumseagreen);
    width: 13px;
    height: 13px; }*/
/*  .on-button-1-icon1 {
    position: absolute;
    top: 400px;
    left: 1141px;
    width: 60px;
    height: 60px;
    object-fit: cover;
  } */
  .email-uc,
  .name-uc,
  .role-uc,
  .status-uc {
    position: absolute;
    top: 240px;
    left: 320px;
    font-size: var(--font-size-sm);
    font-weight: 600;
    color: var(--color-forestgreen);
    display: inline-block;
    width: 490px;
    height: 31px;
  }
  .email-uc,
  .role-uc,
  .status-uc{
    left: 460px;
  }
  .role-uc,
  .status-uc {
    left: 760px;
  }

  .bin-uc {
    margin-left:70px;
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
  .userImage-uc{
    margin:25px;
    left: 260px;
    border-radius: 50%;
    background-color: var(--color-whitesmoke);
    box-shadow: 0 1px 1.4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    width: 36px;
    height: 36px;}

.status-uc {
  position: absolute;
  left: 885px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-forestgreen);
  display: inline-block;
  width: 490px;
  height: 31px;
}
  /* .hp1 {
    position: absolute;
    top: 422px;
    left: 287px;
    font-size: var(--font-size-mini);
    font-family: var(--font-inter);
    color: var(--color-black);
    display: inline-block;
    width: 30px;
    height: 24px;
  } */
  .user-configuration-1st-time-us-uc {
    width: 1440px;
    background-color: var(--color-white);
    max-width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-dimgray);
    font-family: var(--font-sarabun);
  }
  .userData-rows-uc{
    display:flex;
  }



/* css */



/* .user-details-body::after{
  padding: 0.5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
} */

/* CSS for enabling scrolling on the table */


/* .scrollable-container {

  max-height: 300px; 
  overflow-y: auto; 
}
.scroll-wrapper {
  
  width: 1px; 
  background-color: #f5f5f5;
  overflow-y: scroll; 
}

.scroll-bar {
  width: 10%;
  height: 10%;
  background-color: #888; 
} */

.user-details-container-wrapper-uc {
  margin-top: 20%;
  margin-left: 14%;
  width: 80%;
  height: 300px; 
  overflow-y: auto;
}

.scroll-wrapper-uc {
  width: 10px; 
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.scroll-bar-uc {
  width: 10px;
  height: 100%;
  background-color: #ccc; 
  border-radius: 26px;
}



::-webkit-scrollbar-uc {
  background-color: #f1f1f1;
  border-radius: 26px;

}

/* Change scrollbar thumb color */
::-webkit-scrollbar-thumb-uc {
  background-color: #028f25;
  border-radius: 26px;
}