.image_uploader-ci {
  position: fixed;
  top: 220px; 
  left: 620px;
  width: 100%;
  height: calc(100% - 100px); 
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px; /* Adjusted padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.upload-overlay-ci {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-input-ci {
  display: none;
}

.upload-text-ci {
  color: #777777;
  font-size: 24px;
  cursor: pointer;
}

.preview-container-ci {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.uploaded-image-ci {
  max-width: 80px;
  max-height: 250px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  margin-right: 400px;
}
.btn-ci{
  font-size: 20px;
  background-color: black;
  color: #fff;
  padding:15px;
  margin-right: 400px;
  border-radius: 10px;;
}  
.text-overlay-ci{
  font-size: 20px;
  border-radius: 5px;
  background-color: black;
  color: #ffffff;
  margin-bottom: 20px;
}