.facility-17,
.facility-27,
.facility-37 {
  width: 47px;
  height: 20px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 448091;
}
.facility-27,
.facility-37 {
  height: 19px;
  min-width: 47px;
  z-index: 1;
}
.facility-37 {
  margin-top: -1px;
  height: 20px;
  z-index: 2;
}
.facility-3-container {
  width: 47px;
  height: 19px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.facility-47,
.facility-57,
.facility-67 {
  width: 47px;
  height: 19px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  min-width: 47px;
  debug_commit: 448091;
}
.facility-57,
.facility-67 {
  height: 20px;
}
.facility-57 {
  text-decoration: none;
  color: inherit;
  z-index: 1;
}
.facility-67 {
  margin-top: -1px;
  z-index: 2;
}
.facility-6-frame {
  width: 47px;
  height: 19px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.facility-77 {
  width: 47px;
  height: 19px;
  min-width: 47px;
  z-index: 3;
}
.facility-107,
.facility-77,
.facility-87,
.facility-97 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 448091;
}
.facility-87 {
  width: 47px;
  height: 20px;
  min-width: 47px;
}
.facility-107,
.facility-97 {
  height: 19px;
}
.facility-97 {
  width: 47px;
  min-width: 47px;
  z-index: 1;
}
.facility-107 {
  margin-top: -0.5px;
  width: 60px;
  z-index: 2;
}
.content268 {
  height: 1px;
  width: 270px;
  position: absolute;
  margin: 0 !important;
  right: -210px;
  bottom: 4.5px;
  border-top: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
  z-index: 3;
}
.facility-10-group {
  height: 19px;
  flex-direction: row;
  position: relative;
}
.facility-1-container,
.facility-10-group,
.frame-wrapper8 {
  width: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper8 {
  height: 18.5px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
}
.facility-1-container {
  height: 194.5px;
  flex-direction: column;
  gap: var(--gap-12xs-2);
}
.content269,
.content270 {
  width: 12px;
  height: 11px;
  position: relative;
  background-color: var(--color-forestgreen-100);
}
.content270 {
  height: 10px;
}
.content271,
.content272,
.content273,
.content274,
.content275,
.content276,
.content277,
.content278 {
  width: 12px;
  height: 11px;
  position: relative;
  background-color: var(--color-forestgreen-100);
}
.content278 {
  height: 10px;
}
.content-parent24 {
  height: 186px;
  width: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs-7);
}
.content279,
.content280,
.content281,
.content282,
.content283,
.content284 {
  width: 12px;
  height: 11px;
  position: relative;
  background-color: var(--color-forestgreen-100);
}
.content280,
.content281,
.content282,
.content283,
.content284 {
  height: 10px;
}
.content281,
.content282,
.content283,
.content284 {
  height: 11px;
}
.content285,
.content286,
.content287,
.content288 {
  width: 12px;
  height: 11px;
  position: relative;
  background-color: var(--color-beige);
}
.content286,
.content287,
.content288 {
  background-color: var(--color-forestgreen-100);
}
.content288 {
  height: 10px;
}
.content-parent25 {
  height: 186px;
  width: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs-7);
}
.content289,
.content290,
.content291 {
  height: 1px;
  width: 270px;
  position: absolute;
  margin: 0 !important;
  top: 13px;
  left: -131px;
  border-top: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
  z-index: 1;
}
.content290,
.content291 {
  top: 33px;
  z-index: 2;
}
.content291 {
  top: 51px;
  z-index: 3;
}
.content292 {
  top: 72px;
  z-index: 1;
}
.content292,
.content293,
.content294,
.content295,
.content296,
.content297 {
  height: 1px;
  width: 270px;
  position: absolute;
  margin: 0 !important;
  left: -131px;
  border-top: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.content293 {
  top: 91px;
  z-index: 2;
}
.content294,
.content295,
.content296,
.content297 {
  bottom: 75px;
  z-index: 3;
}
.content295,
.content296,
.content297 {
  bottom: 55px;
  z-index: 4;
}
.content296,
.content297 {
  bottom: 35px;
  z-index: 1;
}
.content297 {
  bottom: 15px;
  z-index: 2;
}
.content298,
.content299,
.content300,
.content301 {
  height: 11px;
  width: 12px;
  position: relative;
  background-color: var(--color-forestgreen-100);
}
.content299,
.content300,
.content301 {
  background-color: var(--color-beige);
}
.content302,
.content303,
.content304,
.content305,
.content306,
.content307 {
  height: 11px;
  width: 11px;
  position: relative;
  background-color: var(--color-beige);
}
.content303,
.content304,
.content305,
.content306,
.content307 {
  width: 12px;
}
.content-parent27 {
  width: 138px;
  height: 11px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs-1);
}
.content308,
.content309,
.content310,
.content311 {
  height: 10px;
  width: 12px;
  position: relative;
  background-color: var(--color-forestgreen-100);
}
.content312,
.content313,
.content314,
.content315,
.content316,
.content317 {
  height: 10px;
  width: 11px;
  position: relative;
  background-color: var(--color-beige);
}
.content313,
.content314,
.content315,
.content316,
.content317 {
  width: 12px;
}
.content-parent28 {
  width: 138px;
  height: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs-1);
}
.content318,
.content319,
.content320,
.content321 {
  height: 11px;
  width: 12px;
  position: relative;
  background-color: var(--color-beige);
}
.content322,
.content323,
.content324,
.content325,
.content326,
.content327 {
  height: 11px;
  width: 11px;
  position: relative;
  background-color: var(--color-beige);
}
.content323,
.content324,
.content325,
.content326,
.content327 {
  width: 12px;
}
.content-parent29 {
  width: 138px;
  height: 11px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs-1);
}
.content328,
.content329,
.content330,
.content331 {
  height: 11px;
  width: 12px;
  position: relative;
  background-color: var(--color-forestgreen-100);
}
.content330,
.content331 {
  background-color: var(--color-beige);
}
.content332,
.content333,
.content334,
.content335,
.content336,
.content337 {
  height: 11px;
  width: 11px;
  position: relative;
  background-color: var(--color-beige);
}
.content333,
.content334,
.content335,
.content336,
.content337 {
  width: 12px;
}
.content-parent30 {
  width: 138px;
  height: 11px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs-1);
}
.content338,
.content339,
.content340,
.content341 {
  height: 11px;
  width: 12px;
  position: relative;
  background-color: var(--color-forestgreen-100);
}
.content340,
.content341 {
  background-color: var(--color-beige);
}
.content342,
.content343,
.content344,
.content345,
.content346,
.content347 {
  height: 11px;
  width: 11px;
  position: relative;
  background-color: var(--color-beige);
}
.content343,
.content344,
.content345,
.content346,
.content347 {
  width: 12px;
}
.content-parent31 {
  width: 138px;
  height: 11px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs-1);
}
.content348,
.content349,
.content350,
.content351 {
  height: 11px;
  width: 12px;
  position: relative;
  background-color: var(--color-forestgreen-100);
}
.content350,
.content351 {
  background-color: var(--color-beige);
}
.content352,
.content353,
.content354,
.content355,
.content356,
.content357 {
  height: 11px;
  width: 11px;
  position: relative;
  background-color: var(--color-beige);
}
.content353,
.content354,
.content355,
.content356,
.content357 {
  width: 12px;
}
.content-parent32 {
  width: 138px;
  height: 11px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs-1);
}
.content358,
.content359,
.content360,
.content361 {
  height: 11px;
  width: 12px;
  position: relative;
  background-color: var(--color-beige);
}
.content362,
.content363,
.content364,
.content365,
.content366,
.content367 {
  height: 11px;
  width: 11px;
  position: relative;
  background-color: var(--color-beige);
}
.content363,
.content364,
.content365,
.content366,
.content367 {
  width: 12px;
}
.content-parent33 {
  width: 138px;
  height: 11px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs-1);
}
.content368,
.content369,
.content370,
.content371 {
  height: 11px;
  width: 12px;
  position: relative;
  background-color: var(--color-forestgreen-100);
}
.content370,
.content371 {
  background-color: var(--color-beige);
}
.content372,
.content373,
.content374,
.content375,
.content376,
.content377 {
  height: 11px;
  width: 11px;
  position: relative;
  background-color: var(--color-beige);
}
.content373,
.content374,
.content375,
.content376,
.content377 {
  width: 12px;
}
.content-parent34 {
  width: 138px;
  height: 11px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs-1);
}
.content378,
.content379,
.content380,
.content381,
.content382 {
  height: 11px;
  width: 12px;
  position: relative;
  background-color: var(--color-forestgreen-100);
}
.content381,
.content382 {
  background-color: var(--color-beige);
}
.content382 {
  width: 11px;
}
.content383,
.content384,
.content385,
.content386,
.content387,
.content388,
.content389,
.content390,
.content391 {
  height: 11px;
  width: 12px;
  position: relative;
  background-color: var(--color-beige);
}
.content388,
.content389,
.content390,
.content391 {
  height: 10px;
}
.content392,
.content393,
.content394,
.content395,
.content396,
.content397 {
  height: 10px;
  width: 11px;
  position: relative;
  background-color: var(--color-beige);
}
.content393,
.content394,
.content395,
.content396,
.content397 {
  width: 12px;
}
.content-parent35 {
  width: 138px;
  height: 29px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px 1.7px;
}
.content-parent26,
.frame-parent28,
.frame-parent29,
.frame-parent30 {
  height: 186px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent30 {
  width: 138px;
  flex-direction: column;
  gap: var(--gap-4xs-8);
}
.content-parent26,
.frame-parent28,
.frame-parent29 {
  flex-direction: row;
}
.content-parent26 {
  width: 138px;
  position: relative;
}
.frame-parent28,
.frame-parent29 {
  width: 166px;
  gap: var(--gap-11xs);
}
.frame-parent28 {
  width: 269px;
  height: 194.5px;
  gap: var(--gap-24xl);
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-forestgreen-100);
  font-family: var(--drop-menu-menu);
}
